<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded"  src="{{ site.baseurl }}/assets/img/blog-authork.jpg" alt="{{site.name}}" width="250" height="250">
        <p class="def">Autor</p>
        <h3 class="name">
            <a itemprop="name" href="https://wa.me/qr/75EHFRN7YA65G1">{{site.username}}</a>
        </h3>
        <p class="desc">{{site.user_description}}</p>
        <p><a itemprop="email" class="email" href="mailto:{{site.email}}">Correo institucional</a></p>
        <p><a itemprop="telegram" class="telegram" href="https://t.me/{{site.telegram_username}}">Telegram</a></p>
    </div>
</section>
